<!DOCTYPE html>
<html>
    <head>
        <h1>Today</h1>
    </head>
    <body>
        <% datenow = DateTime.now.strftime('%A, %B %-d, %Y') %>
        <p>"The date is <%= datenow %>."</p>
    </body>
</html>